# Ignore everything by default
*

# Allow directories so git can traverse them to find .py files
# !*/

# Allow all files with .py extension
!*.py
!*.csv

# Include this .gitignore file as well
!.gitignore

# Allow
!*.pt
!*.md
!*.ipynb
!frontend/
!requirements.txt
!*.jsx
!*.tsx
!*.html
!*.css

